# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Database
db.sqlite3
db.sqlite3-journal

# Django
*.log
*.pot
*.pyc

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Credentials (Crucial: Keep this out of GitHub)
CREDENTIALS.md